USE [master]
GO
/****** Object:  Database [complaint_ms]    Script Date: 1/13/2026 11:16:16 PM ******/
CREATE DATABASE [complaint_ms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'complaint_ms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\complaint_ms.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'complaint_ms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\complaint_ms_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [complaint_ms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [complaint_ms]
GO
/****** Object:  UserDefinedTableType [dbo].[DepartmentIdList]    Script Date: 1/13/2026 11:16:16 PM ******/
CREATE TYPE [dbo].[DepartmentIdList] AS TABLE(
	[department_id] [int] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ServiceIdList]    Script Date: 1/13/2026 11:16:16 PM ******/
CREATE TYPE [dbo].[ServiceIdList] AS TABLE(
	[service_id] [int] NOT NULL
)
GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 1/13/2026 11:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[complaint_id] [int] IDENTITY(1,1) NOT NULL,
	[department_id] [int] NOT NULL,
	[issue_id] [int] NOT NULL,
	[complaint_detail] [nvarchar](max) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[complaint_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 1/13/2026 11:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[deptt_id] [int] IDENTITY(1,1) NOT NULL,
	[deptt_name] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[deptt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[deptt_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Issues]    Script Date: 1/13/2026 11:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Issues](
	[issue_id] [int] IDENTITY(1,1) NOT NULL,
	[issue_type] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[issue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Issues_IssueType] UNIQUE NONCLUSTERED 
(
	[issue_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 1/13/2026 11:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 1/13/2026 11:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[service_id] [int] IDENTITY(1,1) NOT NULL,
	[issue_id] [int] NOT NULL,
	[service_name] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDepartmentAccess]    Script Date: 1/13/2026 11:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDepartmentAccess](
	[user_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[granted_by] [int] NULL,
	[granted_at] [datetime2](7) NULL,
 CONSTRAINT [PK_UserDepartmentAccess] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/13/2026 11:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone] [varchar](25) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role_id] [int] NOT NULL,
	[is_team_member] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[refresh_token] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserServiceAccess]    Script Date: 1/13/2026 11:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserServiceAccess](
	[user_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[granted_by] [int] NULL,
	[granted_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserServicesAccess] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_UD_Department]    Script Date: 1/13/2026 11:16:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_UD_Department] ON [dbo].[UserDepartmentAccess]
(
	[department_id] ASC
)
INCLUDE ( 	[user_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_USA_service_id]    Script Date: 1/13/2026 11:16:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_USA_service_id] ON [dbo].[UserServiceAccess]
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_USA_user_id]    Script Date: 1/13/2026 11:16:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_USA_user_id] ON [dbo].[UserServiceAccess]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Complaints] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Complaints] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Complaints] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Issues] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Issues] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [is_team_member]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[UserServiceAccess] ADD  DEFAULT (sysdatetime()) FOR [granted_at]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaint_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaint_User]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_Departments] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([deptt_id])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_Departments]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_Issues] FOREIGN KEY([issue_id])
REFERENCES [dbo].[Issues] ([issue_id])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_Issues]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_ServiceTypes_Issues] FOREIGN KEY([issue_id])
REFERENCES [dbo].[Issues] ([issue_id])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_ServiceTypes_Issues]
GO
ALTER TABLE [dbo].[UserDepartmentAccess]  WITH CHECK ADD  CONSTRAINT [FK_UD_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([deptt_id])
GO
ALTER TABLE [dbo].[UserDepartmentAccess] CHECK CONSTRAINT [FK_UD_Department]
GO
ALTER TABLE [dbo].[UserDepartmentAccess]  WITH CHECK ADD  CONSTRAINT [FK_UD_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserDepartmentAccess] CHECK CONSTRAINT [FK_UD_User]
GO
ALTER TABLE [dbo].[UserDepartmentAccess]  WITH CHECK ADD  CONSTRAINT [FK_UserDepartmentAccess_User] FOREIGN KEY([granted_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserDepartmentAccess] CHECK CONSTRAINT [FK_UserDepartmentAccess_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[UserServiceAccess]  WITH CHECK ADD  CONSTRAINT [FK_USA_GrantedBy] FOREIGN KEY([granted_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserServiceAccess] CHECK CONSTRAINT [FK_USA_GrantedBy]
GO
ALTER TABLE [dbo].[UserServiceAccess]  WITH CHECK ADD  CONSTRAINT [FK_USA_Service] FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([service_id])
GO
ALTER TABLE [dbo].[UserServiceAccess] CHECK CONSTRAINT [FK_USA_Service]
GO
ALTER TABLE [dbo].[UserServiceAccess]  WITH CHECK ADD  CONSTRAINT [FK_USA_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserServiceAccess] CHECK CONSTRAINT [FK_USA_User]
GO
/****** Object:  StoredProcedure [dbo].[AssignResolverAccess]    Script Date: 1/13/2026 11:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AssignResolverAccess]
    @user_id INT,
    @department_ids dbo.DepartmentIdList READONLY,
    @service_ids dbo.ServiceIdList READONLY,
    @granted_by INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- Clear existing access
        DELETE FROM UserDepartmentAccess WHERE user_id = @user_id;
        DELETE FROM UserServiceAccess WHERE user_id = @user_id;

        -- Insert departments
        INSERT INTO UserDepartmentAccess (user_id, department_id, granted_by, granted_at)
        SELECT
            @user_id,
            d.department_id,
            @granted_by,
            SYSUTCDATETIME()
        FROM @department_ids d;

        -- Insert services
        INSERT INTO UserServiceAccess (user_id, service_id, granted_by, granted_at)
        SELECT
            @user_id,
            s.service_id,
            @granted_by,
            SYSUTCDATETIME()
        FROM @service_ids s;

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUserDepartments]    Script Date: 1/13/2026 11:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Add departments to user (skips duplicates)
CREATE PROCEDURE [dbo].[sp_AddUserDepartments]
  @user_id INT,
  @department_ids NVARCHAR(MAX)  -- comma separated list e.g. '1,3,5'
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @xml xml = TRY_CAST(('<i>'+REPLACE(@department_ids,',','</i><i>')+'</i>') AS XML);

  DECLARE @deptId INT;
  DECLARE @cursor CURSOR;
  SET @cursor = CURSOR FOR
    SELECT T.c.value('.', 'INT') FROM @xml.nodes('/i') T(c);

  OPEN @cursor;
  FETCH NEXT FROM @cursor INTO @deptId;
  WHILE @@FETCH_STATUS = 0
  BEGIN
    IF NOT EXISTS (SELECT 1 FROM UserDepartmentAccess WHERE user_id = @user_id AND department_id = @deptId)
      INSERT INTO UserDepartmentAccess (user_id, department_id) VALUES (@user_id, @deptId);

    FETCH NEXT FROM @cursor INTO @deptId;
  END

  CLOSE @cursor; DEALLOCATE @cursor;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUserServices]    Script Date: 1/13/2026 11:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Add services to user (same idea)
CREATE PROCEDURE [dbo].[sp_AddUserServices]
  @user_id INT,
  @service_ids NVARCHAR(MAX)
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @xml xml = TRY_CAST(('<i>'+REPLACE(@service_ids,',','</i><i>')+'</i>') AS XML);
  DECLARE @sid INT;
  DECLARE s CURSOR FOR SELECT T.c.value('.', 'INT') FROM @xml.nodes('/i') T(c);

  OPEN s; FETCH NEXT FROM s INTO @sid;
  WHILE @@FETCH_STATUS = 0
  BEGIN
    IF NOT EXISTS (SELECT 1 FROM UserServiceAccess WHERE user_id = @user_id AND service_id = @sid)
      INSERT INTO UserServiceAccess (user_id, service_id) VALUES (@user_id, @sid);

    FETCH NEXT FROM s INTO @sid;
  END

  CLOSE s; DEALLOCATE s;
END;
GO
USE [master]
GO
